<?xml version='1.0' encoding='utf-8'?>
<!--

Copyright (C) 2012 JBoss Inc

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->
<!DOCTYPE hibernate-configuration
        PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "classpath://org/hibernate/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.datasource">java:comp/env/jdbc/dashbuilder</property>

        <!-- Use java.io streams to read / write binary data from / to JDBC -->
        <property name="jdbc.use_streams_for_binary">true</property>

        <!-- 2L cache is disabled by default -->
        <property name="cache.use_second_level_cache">false</property>
        <property name="cache.use_query_cache">false</property>

        <!-- Context scoping for org.hibernate.SessionFactory#getCurrentSession() processing -->
        <property name="current_session_context_class">thread</property>

        <!-- Enable statistics collection -->
        <property name="generate_statistics">true</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>

        <!--
         Needed to avoid error the following error on AS 7.1.1 final:
         org.hibernate.MappingException: Unable to create AuditStrategy[org.hibernate.envers.strategy.DefaultAuditStrategy] instance
         -->
        <property name="listeners.envers.autoRegister">false</property>

        <!--
          BZ-1030424: Depending on database schema configuration for connection user, some jdbc drivers
                      metadata returns all tables for all schemas if the schema parameter is null.
                      To avoid this behaviour, user can set the default schema used by dashbuilder application here.

          **IMPORTANT NOTE**: If you don't wont to set the default_schema property, comment the following line, but
                              DO NOT leave it blank.
        -->
        <!--<property name="default_schema"></property>-->

    </session-factory>
</hibernate-configuration>