---
title: About
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/
  %a.breadcrumb_anchor.active{:href => "about.html"} About
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 About
        %h2 What is Dashbuilder
        %p Dashbuilder is an open source platform for building business dashboards and reports.
        %h3 Key features
        %ul
          %li Visual configuration of dashboards with Drag'n'drop.
          %li Inline creation and editing of KPIs (Key Performance Indicators).
          %li Interactive report tables.
          %li Data export to Excel and CSV format.
          %li Connectors to existing systems with standard protocols.
          %li Fine-grained access control for different users and roles.
          %li Look'n'feel customization tools.
          %li Integration with Business Process Management with jBPM.
          %li Import and export.
          %li Ready for deployment.
          %li Open source
        %h3 Target users
        %ul
          %li
            Managers / Business owners. Consumer of dashboards and reports.
          %li
            IT / System architects. Connectivity and data extraction.
          %li
            Analysts. Dashboard composition & configuration.
        %hr/
    #rightcol.span3.well
      %h2 Latest News
      %ul.listPosts
        %li
          / %span.name Lorem Ipsum
          %span.meta Dec 28, 2013
          %a{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} Dashbuilder 6.0.1 released
          %br/
          %p A new version of Dashbuilder has been release along with the Drools & jBPM platform. This version contains only some bug fixes...
        %li
          / %span.name Lorem Ipsum
          %span.meta Nov 28, 2013
          %a{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} First steps to create your first dashboard
          %br/
          %p The most typical situation with Dashbuilder is that you already have some data store with data you want to create dashboards from...
        %li
          / %span.name Lorem Ipsum
          %span.meta Dec 28, 2013
          %a{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} Community release 6.0.1!
          %br/
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
      %p
        %a.btn{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} More »
