---
title: About
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/
  %a.breadcrumb_anchor.active{:href => "about.html"} About
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 About Dashbuilder
        %p Dashbuilder is an open source platform for building business dashboards and reports.
        %h3 Key features
        %ul
          %li Visual configuration of dashboards with Drag'n'drop.
          %li Inline creation and editing of KPIs (Key Performance Indicators).
          %li Interactive report tables.
          %li Data export to Excel and CSV format.
          %li Connectors to existing systems with standard protocols.
          %li Fine-grained access control for different users and roles.
          %li Look'n'feel customization tools.
          %li Integration with Business Process Management with jBPM.
          %li Import and export.
          %li Ready for deployment.
          %li Open source
        %h3 License
        %ul
          %li Dashbuilder is open source software, released under the
          = succeed "." do
            %a{:href => "http://www.apache.org/licenses/LICENSE-2.0.html", :target => "_blank"} Apache Software License 2.0.
          %li This license is very liberal: it allows reuse for commercial purposes. Read the
          %a{:href => "http://www.apache.org/foundation/licence-FAQ.html#WhatDoesItMEAN", :target => "_blank"} layman’s explanation
          for more information.
        %h3 Target users
        %ul
          %li
            Managers / Business owners. Consumer of dashboards and reports.
          %li
            IT / System architects. Connectivity and data extraction.
          %li
            Analysts. Dashboard composition & configuration.
        %hr/
    #rightcol.span3.well
      %h2 Latest News
      %ul.listPosts
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/dashbuilder-601-released.html", :target => "_blank"} Dashbuilder 6.0.1 released
          %br/
          %p A new version of Dashbuilder has been release along with the Drools & jBPM platform. This version contains only some bug fixes...
          %br/
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/process-monitoring-with-jbpm-integration.html", :target => "_blank"} Process monitoring with jBPM integration
          %br/
          %p Dashbuilder is packaged and automatically ready to use with jBPM 6 workbench (https://www.jboss.org/jbpm)...
          %br/
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/first-steps-to-create-your-dashboards.html", :target => "_blank"} First steps to create your dashboards
          %br/
          %p The most typical situation with Dashbuilder is that you already have some data store with data you want to create dashboards from...
      %p
        %a.btn{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} More »
