---
title: Chat real-time
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Get Help /
  %a.breadcrumb_anchor.active{:href => "chat.html"} Chat real-time
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Chat real-time
        %p Got questions? Want to discuss an issue in real-time? Then join us on IRC.
        %p Most of our project discussion take place on IRC, usually during European and American daytime.
        %h2 Connection info
        %ul
          %li
            Chat in
            %a{:href => "http://webchat.freenode.net/?channels=dashbuillder%2Cdrools&uio=d4", :target => "_blank"} your browser
          %li
            Chat with an IRC client (
            %a{:href => "http://www.xchat.org/", :target => "_blank"} XChat
            (Linux),
            %a{:href => "http://colloquy.info/", :target => "_blank"} Colloquy
            (Mac),
            %a{:href => "http://www.hydrairc.com/", :target => "_blank"} HydraIRC
            (Windows), …):
            %ul
              %li
                IRC server:
                %strong chat.freenode.net:6667
                %ul
                  %li
                    %a{:href => "http://freenode.net/irc_servers.shtml", :target => "_blank"} List of alternative servers
              %li
                Channels for users:
                %ul
                  %li
                    %strong #dashbuilder
              %li
                Channels for contributors:
                %ul
                  %li
                    %strong #dashbuilderdev
        %h2 Guidelines
        %ul
          %li
            Answers can take a while. Wait at least an hour. If no one answers, then they are busy or AFK. Try the
            %a{:href => "forum.html"} forum
            instead.
          %li
            Don’t send private messages to anyone, use only the public channels. Private support is reserved for Red Hat customers only.
          %li
            No need to waste time by asking "Can I ask a question?". Just ask your question immediately.
          %li
            If you need assistance with other JBoss projects, try their IRC channel on Freenode.

        %hr/
    #rightcol.span3.well
      %h2 Latest News
      %ul.listPosts
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/dashbuilder-601-released.html", :target => "_blank"} Dashbuilder 6.0.1 released
          %br/
          %p A new version of Dashbuilder has been release along with the Drools & jBPM platform. This version contains only some bug fixes...
          %br/
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/process-monitoring-with-jbpm-integration.html", :target => "_blank"} Process monitoring with jBPM integration
          %br/
          %p Dashbuilder is packaged and automatically ready to use with jBPM 6 workbench (https://www.jboss.org/jbpm)...
          %br/
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/first-steps-to-create-your-dashboards.html", :target => "_blank"} First steps to create your dashboards
          %br/
          %p The most typical situation with Dashbuilder is that you already have some data store with data you want to create dashboards from...
      %p
        %a.btn{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} More »
