---
title: Documentation
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Learn /
  %a.breadcrumb_anchor.active{:href => "documentation.html"} Documentation
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Documentation
        %p Below you can find the released manuals and documentation in different formats.
        %h2 Final releases
        %ul
          %li
            %span.icon-book.icon
            %strong Release 6.0.1.Final
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Version
              %th Getting started guide
          %tbody
            %tr
              %td Release 6.0.1.Final
              %td
                %a{:href => "http://docs.jboss.org/dashbuilder/release/6.0.1.Final/html_single/", :target => "_blank"} HTML Single
                |
                %a{:href => "http://docs.jboss.org/dashbuilder/release/6.0.1.Final/html/", :target => "_blank"} HTML
                |
                %a{:href => "http://docs.jboss.org/dashbuilder/release/6.0.1.Final/pdf/", :target => "_blank"} PDF
        %hr/
    #rightcol.span3.well
      %h2 Latest News
      %ul.listPosts
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/dashbuilder-601-released.html", :target => "_blank"} Dashbuilder 6.0.1 released
          %br/
          %p A new version of Dashbuilder has been release along with the Drools & jBPM platform. This version contains only some bug fixes...
          %br/
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/process-monitoring-with-jbpm-integration.html", :target => "_blank"} Process monitoring with jBPM integration
          %br/
          %p Dashbuilder is packaged and automatically ready to use with jBPM 6 workbench (https://www.jboss.org/jbpm)...
          %br/
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/first-steps-to-create-your-dashboards.html", :target => "_blank"} First steps to create your dashboards
          %br/
          %p The most typical situation with Dashbuilder is that you already have some data store with data you want to create dashboards from...
      %p
        %a.btn{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} More »
