---
title: Documentation
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Learn /
  %a.breadcrumb_anchor.active{:href => "documentation.html"} Documentation
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Documentation
        %h2 Final releases
        %ul
          %li
            %span.icon-book.icon
            %strong Release 6.0.1.Final
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Version
              %th Getting started guide
          %tbody
            %tr
              %td Release 6.0.1.Final
              %td
                %a{:href => "http://docs.jboss.org/dashbuilder/release/6.0.1.Final/html_single/", :target => "_blank"} HTML Single
                |
                %a{:href => "http://docs.jboss.org/dashbuilder/release/6.0.1.Final/html/", :target => "_blank"} HTML
                |
                %a{:href => "http://docs.jboss.org/dashbuilder/release/6.0.1.Final/pdf/", :target => "_blank"} PDF
        %hr/
    #rightcol.span3.well
      %h2 Latest News
      %ul.listPosts
        %li
          %span.name Lorem Ipsum
          %span.meta Dec 21, 2013
          %a{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} Community release 6.0.1!
          %br/
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
        %li
          %span.name Lorem Ipsum
          %span.meta Nov 21, 2013
          %a{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} Community release 6.0.1!
          %br/
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
        %li
          %span.name Lorem Ipsum
          %span.meta Dec 21, 2013
          %a{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} Community release 6.0.1!
          %br/
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
      %p
        %a.btn{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} More »
