---
title: Forum
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Get Help /
  %a.breadcrumb_anchor.active{:href => "forum.html"} Forum (free support)
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Forum (free support)
        %h2 Usage questions
        %p If you have a question about Dashbuilder, just ask our friendly community:
        %ul
          %li
            %p
              Ask on
              %a{:href => "http://www.jboss.org/drools/lists", :target => "_blank"} the Drools user mailing list
              (recommended).
          %li
            %p
              Or ask on
              = succeed "." do
                %a{:href => "#"} StackOverflow
        %p Please follow these recommendations when posting a question:
        %ul
          %li
            %p Get to the point. Keep it as short as possible.
          %li
            %p
              Include
              %em relevant
              technical details (stacktrace, short code snippet, …).
          %li
            %p Be polite, friendly and clear. Reread your question before posting it.
          %li
            %p
              Be patient. This isn’t
              = succeed "." do
                %a{:href => "paid_support.html"} commercial support
        %h2 Development discussions
        %p
          If you’ve
          %a{:href => "source_code.html"} build Dashbuilder from source
          and you would like to improve it,
          then come talk with us:
        %ul
          %li
            %p
              Join us on
              = succeed "." do
                %a{:href => "http://www.jboss.org/drools/lists", :target => "_blank"} the Drools developer mailing list
          %li
            %p
              And
              %a{:href => "chat.html"} chat with us
              (recommended).
        %hr/
    #rightcol.span3.well
      %h2 Latest News
      %ul.listPosts
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/dashbuilder-601-released.html", :target => "_blank"} Dashbuilder 6.0.1 released
          %br/
          %p A new version of Dashbuilder has been release along with the Drools & jBPM platform. This version contains only some bug fixes...
          %br/
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/process-monitoring-with-jbpm-integration.html", :target => "_blank"} Process monitoring with jBPM integration
          %br/
          %p Dashbuilder is packaged and automatically ready to use with jBPM 6 workbench (https://www.jboss.org/jbpm)...
          %br/
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/first-steps-to-create-your-dashboards.html", :target => "_blank"} First steps to create your dashboards
          %br/
          %p The most typical situation with Dashbuilder is that you already have some data store with data you want to create dashboards from...
      %p
        %a.btn{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} More »
