---
title: Home
layout: default
---

#myCarousel.carousel.slide
  / Carousel items
  .carousel-inner
    .active.item
      %img{:src => "images/carousel/carousel_image_01.jpg"}/
    .item
      %img{:src => "images/carousel/carousel_image_02.jpg"}/
    .item
      %img{:src => "images/carousel/carousel_image_03.jpg"}/
    .item
      %img{:src => "images/carousel/carousel_image_04.jpg"}/
    .item
      %img{:src => "images/carousel/carousel_image_05.jpg"}/
  / Carousel nav
  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
.row
  .span4
    %h2 About Dashbuilder
    %p Dashbuilder is a full featured web application which allows non-technical users to visually create business dashboards.
    %p Dashboard data can be extracted from heterogeneous sources of information such as JDBC databases or regular text files.
    %p
      %a.btn{:href => "documentation.html"} Documentation »
  .span4
    %h2 Latest news
    %ul
      %li
        Lorem Ipsum (DEC 21, 2013)
        %a{:href => "#"}>
          %br/
          Community release 6.0.1!
         
        %br/
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat....
      %li
        Lorem Ipsum (NOV 21, 2013)
        %a{:href => "#"}>
          %br/
          Community release 6.0.1!
         
        %br/
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat....
    %p
      %a.btn{:href => "#"} More »
  .span4
    %h2 Social Stream
    %a.twitter-timeline{"data-widget-id" => "425304260503273474", :href => "https://twitter.com/search?q=%40dashbuilder"} Tweets about "@dashbuilder"
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
