---
title: Home
layout: default
---

.BannerHome
  %h1 JBoss Dashbuilder
  %p Business Dashboards and Reports made easy
  %p Add interactive business dashboards and reports in minutes
  %p
    %a.btn.btn-primary.btn-large{:href => "http://example.jboss.org/swatch.html"} Learn more »
.row
  .span4
    %h2 About Dashbuilder?
    %p Dashbuilder is a full featured web application which allows non-technical users to visually create business dashboards.
    %p Dashboard data can be extracted from heterogeneous sources of information such as JDBC databases or regular text files.
    %p
      %a.btn{:href => "documentation.html"} Documentation »
  .span4
    %h2 Case Studies
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    %p
      %a.btn{:href => "testimonials.html"} See Testimonials »
  .span4
    %h2 Social Stream
    %a.twitter-timeline{"data-widget-id" => "408210859253456896", :href => "https://twitter.com/search?q=%40jbossjbpm+OR+%40uberfire_org+OR+%40optaplanner+OR+%40droolsguvnor"} Tweets about "@jbossjbpm OR @uberfire_org OR @optaplanner OR @droolsguvnor"
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
