---
title: Home
layout: default
---

#myCarousel.carousel.slide
  / Carousel items
  .carousel-inner
    .active.item
      %img{:src => "images/carousel/carousel_image_01.jpg"}/
    .item
      %img{:src => "images/carousel/carousel_image_02.jpg"}/
    .item
      %img{:src => "images/carousel/carousel_image_03.jpg"}/
    .item
      %img{:src => "images/carousel/carousel_image_04.jpg"}/
    .item
      %img{:src => "images/carousel/carousel_image_05.jpg"}/
  / Carousel nav
  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
.row
  .span4
    %h2 About Dashbuilder
    %p Dashbuilder is a full featured web application which allows non-technical users to visually create business dashboards.
    %p Dashboard data can be extracted from heterogeneous sources of information such as JDBC databases or regular text files.
    %p
      %a.btn{:href => "about.html"} More »
  .span4
    %h2 Latest News
    %ul.listPosts
      %li
        / %span.name Lorem Ipsum
        %span.meta Jan 29, 2014
        %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/dashbuilder-601-released.html", :target => "_blank"} Dashbuilder 6.0.1 released
        %br/
        %p A new version of Dashbuilder has been release along with the Drools & jBPM platform. This version contains only some bug fixes...
        %br/
      %li
        / %span.name Lorem Ipsum
        %span.meta Jan 29, 2014
        %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/process-monitoring-with-jbpm-integration.html", :target => "_blank"} Process monitoring with jBPM integration
        %br/
        %p Dashbuilder is packaged and automatically ready to use with jBPM 6 workbench (https://www.jboss.org/jbpm)...
        %br/
      %li
        / %span.name Lorem Ipsum
        %span.meta Jan 29, 2014
        %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/first-steps-to-create-your-dashboards.html", :target => "_blank"} First steps to create your dashboards
        %br/
        %p The most typical situation with Dashbuilder is that you already have some data store with data you want to create dashboards from...
    %p
      %a.btn{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} More »
  .span4
    %h2 Social Stream
    %a.twitter-timeline{"data-widget-id" => "426303823263457280", :href => "https://twitter.com/search?q=%40dashbuilder"} Tweets about "@dashbuilder"
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
