---
title: License
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Join Us /
  %a.breadcrumb_anchor.active{:href => "license.html"} License
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 License
        %p
          Dashbuilder is open source software, released under the
          = succeed "." do
            %a{:href => "http://www.apache.org/licenses/LICENSE-2.0.html", :target => "_blank"} Apache Software License 2.0
        %p
          This license is very liberal: it allows reuse for commercial purposes. Read the
          %a{:href => "http://www.apache.org/foundation/licence-FAQ.html#WhatDoesItMEAN", :target => "_blank"} layman’s explanation
          for more information.
        %hr/
    #rightcol.span3.well
      %h2 Right Col h2
      %p Prefer to use this to download? We do!
      %p
        %a.btn.btn-primary Button Now
