---
title: License
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Join Us /
  %a.breadcrumb_anchor.active{:href => "license.html"} License
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 License
        %p
          Dashbuilder is open source software, released under the
          = succeed "." do
            %a{:href => "http://www.apache.org/licenses/LICENSE-2.0.html", :target => "_blank"} Apache Software License 2.0
        %p
          This license is very liberal: it allows reuse for commercial purposes. Read the
          %a{:href => "http://www.apache.org/foundation/licence-FAQ.html#WhatDoesItMEAN", :target => "_blank"} layman’s explanation
          for more information.
        %hr/
    #rightcol.span3.well
      %h2 Latest News
      %ul.listPosts
        %li
          %span.name Lorem Ipsum
          %span.meta Dec 21, 2013
          %a{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} Community release 6.0.1!
          %br/
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
        %li
          %span.name Lorem Ipsum
          %span.meta Nov 21, 2013
          %a{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} Community release 6.0.1!
          %br/
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
        %li
          %span.name Lorem Ipsum
          %span.meta Dec 21, 2013
          %a{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} Community release 6.0.1!
          %br/
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
      %p
        %a.btn{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} More »
