---
title: Commercial support
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Get Help /
  %a.breadcrumb_anchor.active{:href => "paid_support.html"} Commercial support
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Commercial support
        %p Red Hat is considering support subscription offerings for Dashbuilder as part of its BRMS and BPM platforms. A Tech Preview of Dashbuilder is targeted for BRMS 6.0.
        %p
          %a{:href => "http://www.redhat.com/products/jbossenterprisemiddleware/business-rules/", :target => "_blank"} More information
        %hr/
    #rightcol.span3.well
      %h2 Latest News
      %ul.listPosts
        %li
          %span.name Lorem Ipsum
          %span.meta Dec 21, 2013
          %a{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} Community release 6.0.1!
          %br/
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
        %li
          %span.name Lorem Ipsum
          %span.meta Nov 21, 2013
          %a{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} Community release 6.0.1!
          %br/
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
        %li
          %span.name Lorem Ipsum
          %span.meta Dec 21, 2013
          %a{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} Community release 6.0.1!
          %br/
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
      %p
        %a.btn{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} More »
