---
title: Commercial support
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Get Help /
  %a.breadcrumb_anchor.active{:href => "paid_support.html"} Commercial support
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Commercial support
        %p Red Hat is considering support subscription offerings for Dashbuilder as part of its BRMS and BPM platforms. A Tech Preview of Dashbuilder is targeted for BRMS 6.0.
        %p
          %a{:href => "http://www.redhat.com/products/jbossenterprisemiddleware/business-rules/", :target => "_blank"} More information
        %hr/
    #rightcol.span3.well
      %h2 Right Col h2
      %p Prefer to use this to download? We do!
      %p
        %a.btn.btn-primary Button Now
