---
title: Report an issue
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Get Help /
  %a.breadcrumb_anchor.active{:href => "report_issue.html"} Report an issue
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Report an issue
        %h2 Issue tracker
        %p We welcome issue reports (bugs, improvements, new feature requests, …) in our issue tracker:
        %p
          %strong
            Show
            = succeed "." do
              %a{:href => "https://issues.jboss.org/browse/JBPM/component/12317347?_sscc=t", :target => "_blank"} the JIRA issue tracker
        %p
          Log in and click on the button
          %em Create Issue
          to report a bug, improvement or feature request.
        %h2 Pull requests on GitHub
        %p
          Want to fix the issue yourself? Fork
          %a{:href => "https://github.com/droolsjbpm/dashboard-builder", :target => "_blank"} the git repository
          and send in a pull request.
          We usually process all pull requests within a few days.
        %p
          %strong
            Show
            = succeed "." do
              %a{:href => "https://github.com/droolsjbpm/dashboard-builder/pulls", :target => "_blank"} the open pull requests
        %hr/
    #rightcol.span3.well
      %h2 Latest News
      %ul.listPosts
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/dashbuilder-601-released.html", :target => "_blank"} Dashbuilder 6.0.1 released
          %br/
          %p A new version of Dashbuilder has been release along with the Drools & jBPM platform. This version contains only some bug fixes...
          %br/
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/process-monitoring-with-jbpm-integration.html", :target => "_blank"} Process monitoring with jBPM integration
          %br/
          %p Dashbuilder is packaged and automatically ready to use with jBPM 6 workbench (https://www.jboss.org/jbpm)...
          %br/
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/first-steps-to-create-your-dashboards.html", :target => "_blank"} First steps to create your dashboards
          %br/
          %p The most typical situation with Dashbuilder is that you already have some data store with data you want to create dashboards from...
      %p
        %a.btn{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} More »
