---
title: Research
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Join Us /
  %a.breadcrumb_anchor.active{:href => "research.html"} Research
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Research
        %p
          Dashbuilder is a good base for metaheuristics research. Read about some of the advantages in
          = succeed "." do
            %a{:href => "#"} this article
        %p
          If you’re doing academic or professional research on top of Dashbuilder,
          = succeed "." do
            %a{:href => "social_media.html"} let us know
        %hr/
    #rightcol.span3.well
      %h2 Right Col h2
      %p Prefer to use this to download? We do!
      %p
        %a.btn.btn-primary Button Now
