---
title: Research
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Join Us /
  %a.breadcrumb_anchor.active{:href => "research.html"} Research
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Research
        %p
          Dashbuilder is a good base for metaheuristics research. Read about some of the advantages in
          = succeed "." do
            %a{:href => "#"} this article
        %p
          If you’re doing academic or professional research on top of Dashbuilder,
          = succeed "." do
            %a{:href => "social_media.html"} let us know
        %hr/
    #rightcol.span3.well
      %h2 Latest News
      %ul.listPosts
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/dashbuilder-601-released.html", :target => "_blank"} Dashbuilder 6.0.1 released
          %br/
          %p A new version of Dashbuilder has been release along with the Drools & jBPM platform. This version contains only some bug fixes...
          %br/
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/process-monitoring-with-jbpm-integration.html", :target => "_blank"} Process monitoring with jBPM integration
          %br/
          %p Dashbuilder is packaged and automatically ready to use with jBPM 6 workbench (https://www.jboss.org/jbpm)...
          %br/
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/first-steps-to-create-your-dashboards.html", :target => "_blank"} First steps to create your dashboards
          %br/
          %p The most typical situation with Dashbuilder is that you already have some data store with data you want to create dashboards from...
      %p
        %a.btn{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} More »
