---
title: Slides
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Learn /
  %a.breadcrumb_anchor.active{:href => "slides.html"} Slides
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Slides
        %p The following presentation provides a high level overview of Dashbuilder’s functional and technical capabilities.
        %h2 Watch the slides
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "470px", :marginheight => "0", :marginwidth => "0", :mozallowfullscreen => "", :scrolling => "no", :src => "http://www.slideshare.net/dashbuilder/slideshelf", :style => "border:none;", :webkitallowfullscreen => "", :width => "615px"}
        %hr/
    #rightcol.span3.well
      %h2 Latest News
      %ul.listPosts
        %li
          / %span.name Lorem Ipsum
          %span.meta Dec 28, 2013
          %a{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} Dashbuilder 6.0.1 released
          %br/
          %p A new version of Dashbuilder has been release along with the Drools & jBPM platform. This version contains only some bug fixes...
        %li
          / %span.name Lorem Ipsum
          %span.meta Nov 28, 2013
          %a{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} First steps to create your first dashboard
          %br/
          %p The most typical situation with Dashbuilder is that you already have some data store with data you want to create dashboards from...
        %li
          / %span.name Lorem Ipsum
          %span.meta Dec 28, 2013
          %a{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} Community release 6.0.1!
          %br/
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
      %p
        %a.btn{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} More »
