---
title: Slides
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Learn /
  %a.breadcrumb_anchor.active{:href => "slides.html"} Slides
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Slides
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        %h2 Watch the slides
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "470px", :marginheight => "0", :marginwidth => "0", :mozallowfullscreen => "", :scrolling => "no", :src => "http://www.slideshare.net/dashbuilder/slideshelf", :style => "border:none;", :webkitallowfullscreen => "", :width => "615px"}
        %hr/
    #rightcol.span3.well
      %h2 Right Col h2
      %p Prefer to use this to download? We do!
      %p
        %a.btn.btn-primary Button Now
