---
title: Slides
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Learn /
  %a.breadcrumb_anchor.active{:href => "slides.html"} Slides
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Dashbuilder Slides
        %h2 Watch the slides
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "356", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://www.slideshare.net/slideshow/embed_code/30092087", :style => "border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px", :width => "427"}
        %div{:style => "margin-bottom:5px"}
          %strong
            %a{:href => "https://www.slideshare.net/dashbuilder/dashbuilder-introduction-30092087", :target => "_blank", :title => "Dashbuilder Introduction"} Dashbuilder Introduction
          from
          %strong
            %a{:href => "http://www.slideshare.net/dashbuilder", :target => "_blank"} dashbuilder
        %hr/
    #rightcol.span3.well
      %h2 Right Col h2
      %p Prefer to use this to download? We do!
      %p
        %a.btn.btn-primary Button Now
