---
title: Social_media
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Community /
  %a.breadcrumb_anchor.active{:href => "social_media.html"} Social media
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Social media
        %h2 Dashbuilder stream
        %p This stream contains easily understood information about Dashbuilder. Includes a post for every release.
        %ul
          %li
            %p
              %span.image
                %img{:alt => "googlePlusLogo", :src => "images/googlePlusLogo.png"}/
              %a{:href => "#"} Dashbuilder on Google+
          %li
            %p
              %span.image
                %img{:alt => "twitterLogo", :src => "images/twitterLogo.png"}/
              %a{:href => "#"} Dashbuilder on Twitter
              (Google+ mirror)
          %li
            %p
              %span.image
                %img{:alt => "facebookLogo", :src => "images/facebookLogo.png"}/
              %a{:href => "https://www.facebook.com/Dashbuilder"} Dashbuilder on Facebook
              (Google+ mirror)
        %h2 Developer streams
        %p These streams contain more technical information about Dashbuilder and Java™ in general.
        %ul
          %li
            %p
              %span.image
                %img{:alt => "googlePlusLogo", :src => "images/googlePlusLogo.png"}/
              %a{:href => "#"} Lorem Ipsum on Google+
          %li
            %p
              %span.image
                %img{:alt => "twitterLogo", :src => "images/twitterLogo.png"}/
              %a{:href => "#"} Lorem Ipsum on Twitter
        %hr/
    #rightcol.span3.well
      %h2 Right Col h2
      %p Prefer to use this to download? We do!
      %p
        %a.btn.btn-primary Button Now
