---
title: Team
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Join Us /
  %a.breadcrumb_anchor.active{:href => "team.html"} Project contributors
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid.team
        %h1 Team
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        %h3 Project Leaders
        %table
          %tbody
            %tr
              %td
                %img{:title => "Pedro Zapata", :height => "128", :src => "images/team/NoPhoto.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong Pedro Zapata
                %ul
                  %li Project coordinator
                  %li IRC nickname: pzapataf
                  %li Email: pzapataf at redhat.com
        %table
          %tbody
            %tr
              %td
                %img{:title => "David Gutiérrez", :height => "128", :src => "images/team/DavidGutierrez.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong David Gutiérrez
                %ul
                  %li Technical leadership
                  %li IRC nickname: dgutierr
                  %li Email: dgutierr at redhat.com
        %h3 Design & Usability
        %table
          %tbody
            %tr
              %td
                %img{:title => "Juanma González", :height => "128", :src => "images/team/JuanmaGonzalez.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong Juanma González
                %ul
                  %li Design, Usability & Integration
                  %li IRC nick name: JuanmaGonzalez
        %h3 Quality Assurance
        %table
          %tbody
            %tr
              %td
                %img{:title => "Jan Hreck", :height => "128", :src => "images/team/NoPhoto.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong Jan Hreck
                %ul
                  %li IRC nick name: jhrcek
        %h3 Release Management
        %table
          %tbody
            %tr
              %td
                %img{:title => "Michael Biarnes", :height => "128", :src => "images/team/MiguelBiarnes.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong Michael Biarnes
                %ul
                  %li IRC nickname: mbiarnes
        %h3 Core developers
        %table
          %tbody
            %tr
              %td
                %img{:title => "Pere Fernàndez", :height => "128", :src => "images/team/PereFernandez.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong Pere Fernàndez
                %ul
                  %li Core developer
                  %li IRC&nbsp;nickname: sr_pere
        %table
          %tbody
            %tr
              %td
                %img{:title => "Roger Martínez", :height => "128", :src => "images/team/RogerMartinez.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong Roger Martínez
                %ul
                  %li Core developer
                  %li IRC&nbsp;nickname: roger600
        %table
          %tbody
            %tr
              %td
                %img{:title => "Walter Medvedeo", :height => "128", :src => "images/team/WalterMedvedeo.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong Walter Medvedeo
                %ul
                  %li Core developer
                  %li IRC nickname: wmedvede
        %table
          %tbody
            %tr
              %td
                %img{:title => "Neus Miras", :height => "128", :src => "images/team/NeusMiras.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong Neus Miras
                %ul
                  %li Core developer
                  %li IRC&nbsp;nickname: neus
        %table
          %tbody
            %tr
              %td
                %img{:title => "Jan Schatteman", :height => "128", :src => "images/team/JanSchatteman.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong Jan Schatteman
                %ul
                  %li Core developer
                  %li IRC&nbsp;nickname: jrenaat
        %h3 Historic contributors
        %p
          See all contributors on
          = succeed "." do
            %a{:href => "https://www.ohloh.net/p/dashbuilder/contributors/summary", :target => "_blank"} Ohlho

        %hr/
    #rightcol.span3.well
      %h2 Latest News
      %ul.listPosts
        %li
          %span.name Lorem Ipsum
          %span.meta Dec 21, 2013
          %a{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} Community release 6.0.1!
          %br/
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
        %li
          %span.name Lorem Ipsum
          %span.meta Nov 21, 2013
          %a{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} Community release 6.0.1!
          %br/
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
        %li
          %span.name Lorem Ipsum
          %span.meta Dec 21, 2013
          %a{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} Community release 6.0.1!
          %br/
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
      %p
        %a.btn{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} More »
