---
title: Team
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Join Us /
  %a.breadcrumb_anchor.active{:href => "team.html"} Team
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid.team
        %h1 Team
        %p Dashbuilder is maintained by an small group of invaluable core contributors, with the great support and involvement of our community.
        %h3 Project Leaders
        %table
          %tbody
            %tr
              %td
                %img{:title => "Pedro Zapata", :height => "128", :src => "images/team/NoPhoto.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong Pedro Zapata
                %ul
                  %li Project coordinator
                  %li IRC nickname: pzapataf
                  %li Email: pzapataf at redhat.com
        %table
          %tbody
            %tr
              %td
                %img{:title => "David Gutiérrez", :height => "128", :src => "images/team/DavidGutierrez.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong David Gutiérrez
                %ul
                  %li Technical leadership
                  %li IRC nickname: dgutierr
                  %li Email: dgutierr at redhat.com
        %h3 Design & Usability
        %table
          %tbody
            %tr
              %td
                %img{:title => "Juanma González", :height => "128", :src => "images/team/JuanmaGonzalez.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong Juanma González
                %ul
                  %li Design, Usability & Integration
                  %li IRC nick name: JuanmaGonzalez
        %h3 Quality Assurance
        %table
          %tbody
            %tr
              %td
                %img{:title => "Jan Hreck", :height => "128", :src => "images/team/JanHreck.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong Jan Hrček
                %ul
                  %li Quality assurance & testing
                  %li IRC nick name: jhrcek
        %h3 Release Management
        %table
          %tbody
            %tr
              %td
                %img{:title => "Michael Biarnes", :height => "128", :src => "images/team/MiguelBiarnes.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong Michael Biarnes
                %ul
                  %li IRC nickname: mbiarnes
        %h3 Core developers
        %table
          %tbody
            %tr
              %td
                %img{:title => "Pere Fernàndez", :height => "128", :src => "images/team/PereFernandez.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong Pere Fernàndez
                %ul
                  %li Core developer
                  %li IRC&nbsp;nickname: sr_pere
        %table
          %tbody
            %tr
              %td
                %img{:title => "Roger Martínez", :height => "128", :src => "images/team/RogerMartinez.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong Roger Martínez
                %ul
                  %li Core developer
                  %li IRC&nbsp;nickname: roger600
        %table
          %tbody
            %tr
              %td
                %img{:title => "Walter Medvedeo", :height => "128", :src => "images/team/WalterMedvedeo.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong Walter Medvedeo
                %ul
                  %li Core developer
                  %li IRC nickname: wmedvede
        %table
          %tbody
            %tr
              %td
                %img{:title => "Neus Miras", :height => "128", :src => "images/team/NeusMiras.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong Neus Miras
                %ul
                  %li Core developer
                  %li IRC&nbsp;nickname: neus
        %table
          %tbody
            %tr
              %td
                %img{:title => "Jan Schatteman", :height => "128", :src => "images/team/JanSchatteman.jpg", :style => "margin:0 auto;", :width => "128"}/
              %td
                %p
                  %strong Jan Schatteman
                %ul
                  %li Core developer
                  %li IRC&nbsp;nickname: jrenaat
        %h3 Historic contributors
        %p
          See all contributors on
          = succeed "." do
            %a{:href => "https://www.ohloh.net/p/dashbuilder/contributors/summary", :target => "_blank"} Ohlho

        %hr/
    #rightcol.span3.well
      %h2 Latest News
      %ul.listPosts
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/dashbuilder-601-released.html", :target => "_blank"} Dashbuilder 6.0.1 released
          %br/
          %p A new version of Dashbuilder has been release along with the Drools & jBPM platform. This version contains only some bug fixes...
          %br/
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/process-monitoring-with-jbpm-integration.html", :target => "_blank"} Process monitoring with jBPM integration
          %br/
          %p Dashbuilder is packaged and automatically ready to use with jBPM 6 workbench (https://www.jboss.org/jbpm)...
          %br/
        %li
          / %span.name Lorem Ipsum
          %span.meta Jan 29, 2014
          %a{:href => "http://dashbuilder.blogspot.com.es/2014/01/first-steps-to-create-your-dashboards.html", :target => "_blank"} First steps to create your dashboards
          %br/
          %p The most typical situation with Dashbuilder is that you already have some data store with data you want to create dashboards from...
      %p
        %a.btn{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} More »
