---
title: Team
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Community /
  %a.breadcrumb_anchor.active{:href => "team.html"} Team
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Project contributors
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        %h5 Contributors
        %p Thanks to all our contributors, listed from past to present:
        %hr/
    #rightcol.span3.well
      %h2 Right Col h2
      %p Prefer to use this to download? We do!
      %p
        %a.btn.btn-primary Button Now
