---
title: Testimonials
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Learn /
  %a.breadcrumb_anchor.active{:href => "testimonials.html"} Testimonials and Case Studies
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Testimonials and Case Studies
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        %h2 Testimonials
        %ul
          %li
            Ut wisi enim ad
            %a{:href => "#"} minim
            veniam, quis nostrud exerci tation.
          %li
            %a{:href => "#"} Ullamcorper
            suscipit lobortis nisl ut.
          %li
            Aliquip ex ea
            %a{:href => "#"} commodo
            consequat.
        %h2 Case Studies
        %ul
          %li
            %a{:href => "#"} Duis autem
            vel eum iriure dolor in hendrerit in vulputate.
          %li
            %a{:href => "#"} Velit esse
            molestie consequat, vel illum dolore eu feugiat.
          %li
            %a{:href => "#"} Nulla facilisis
            at vero eros et accumsan et iusto odio.
          %li
            %a{:href => "#"} Dignissim qui blandit
            praesent luptatum zzril delenit.
          %li
            %a{:href => "#"} Augue duis dolore
            te feugait nulla facilisi.
          %li
            %a{:href => "#"} Nam liber
            tempor cum soluta nobis eleifend.
          %li
            %a{:href => "#"} Option congue
            nihil imperdiet doming id quod.
          %li
            %a{:href => "#"} Mazim placerat
            facer possim assum.
        %hr/
    #rightcol.span3.well
      %h2 Right Col h2
      %p Prefer to use this to download? We do!
      %p
        %a.btn.btn-primary Button Now
