---
title: Videos
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/ Learn /
  %a.breadcrumb_anchor.active{:href => "videos.html"} Videos
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Dashbuilder Videos
        %hr/
    #rightcol.span3.well
      %h2 Right Col h2
      %p Prefer to use this to download? We do!
      %p
        %a.btn.btn-primary Button Now
