@media (min-width: 980px) {
.BannerHome{
	position:relative;
	background:#FFF url(../images/BgHome.jpg) no-repeat right center;
	padding:40px;margin:0 0 20px 0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border: solid 1px #ccc;
	height: 215px;
}
.BannerHome h1{
	color:#656565;
	margin-bottom:9px;
	font-size:54px;
	font-weight:normal;
	letter-spacing:-1px;
	line-height:1;
	padding-top:20px;
}
.BannerHome p{
	margin-bottom:18px;
	font-size:17px;
	font-weight:300;color:#656565;
}
.BannerHome .btn-large{
	font-size:20px;
	font-weight:normal;
	padding:14px 24px;
	margin-right:10px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.BannerHome .btn-large small{
	font-size:14px;
}
}

 @media (max-width: 979px) {
.BannerHome{
	position:relative;
	background:#FFF;
	padding:20px;margin:0 0 20px 0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border: solid 1px #ccc;
}
.BannerHome h1{
	color:#656565;
	margin-bottom:9px;
	font-size:40px;
	font-weight:normal;
	letter-spacing:-1.5px;
	line-height:1;
	padding-top:20px;
}
.BannerHome p{
	margin-bottom:15px;
	font-size:14px;
	font-weight:200;color:#656565;
}
.BannerHome .btn-large{
	font-size:14px;
	font-weight:normal;
	padding:10px 20px;
	margin-right:10px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.BannerHome .btn-large small{
	font-size:14px;
}	 
	 
}

H1, H2, H3, H4 {
	font-weight: normal !important;
}

.forkMeOnGithub {
    border: 0 none;
    max-width: 20%;
    position: absolute;
    right: 0;
    z-index: 100;
}

.socialIcons{
    height: 37px;
    background-color: transparent;
    position: absolute;
    right: 104px;
    margin-bottom: -40px;
    z-index: 999;
    text-align: center;
    width: 120px;
}

@media (max-width: 767px){
.socialIcons{
        right: 56px;
}
}


.team table td{
    padding: 2px 4px;
}

.navbar {
    z-index: 1000 !important;
}